.video__iframes {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transform: translateY(50px);
  padding-left: 0;
  margin: 0;
}

.video__iframes:last-child {
  padding-right: 0;
}
