.page {
    min-width: 1100px;
    /* we don't know how to make mobile versions of websites yet, */
    /* so here we've set a minimum page width */
    max-width: 1600px;
    /* here we've set a maximum page width */
    margin: 0 auto;
    /* this ensures that all content is centered on screens wider than 1600px */
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color: #f2f2f2;
    position: relative;
    /* parameters for the header section */
}


/* dimension of the logo */

.logo {
    width: 183px;
    height: 35px;
}


/* position of the logo */

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.header__title {
    width: 730px;
    height: 64px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    z-index: 999;
    left: 64px;
    top: 300px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
}

.header__subtitle {
    position: absolute;
    width: 388px;
    left: 64px;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
}

.header__image {
    position: absolute;
    min-height: 608px;
    width: 765px;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #2f80ed;
}


/* including elements with key-value modifiers */

.table__cell_theme_dark {
    width: 200px;
    color: white;
    margin-right: 0;
    margin-top: 80px;
}

.description {
    min-width: 784px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 100px;
}

.description__title {
    align-self: flex-start;
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
}

.description__paragraphs {
    width: 80%;
    min-width: 784px;
}

.description__paragraph_one {
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.description__paragraph_conclusion {
    font-weight: bold;
}

.description__paragraph_two {
    line-height: 34px;
    font-size: 24px;
}

.description__margin_element {
    margin: 30px 0;
}


/* DIGITS SECTION START */

.list {
    list-style: none;
}

.digits__title {
    width: 60%;
    margin: 100px auto 20px;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
}

.digits__subtitle {
    width: 60%;
    margin: 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.flex-row_space {
    margin: 60px auto 100px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1100px;
}

.flex-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 250px;
    height: 100%;
    object-fit: cover;
}

.digits_header_space {
    margin-bottom: 20px;
}

.digits_description_space {
    margin-top: 20px;
}

.digits__header {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
}

.digits__description {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}


/* DIGITS SECTION END *
/

/* FEYNMEN SECTION START */

.feynman {
    background-color: #f2f2f2;
    position: relative;
    min-height: 790px;
}

.feynman__title {
    width: 775px;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    text-align: center;
    z-index: 33;
}

.feynman_flex {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* .feynman_margin {
    margin: 100px auto 70px;
} */

.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    position: relative;
    z-index: 2;
}

.feynman__link {
    position: absolute;
    top: 50%;
    right: -1px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
}

.feynman__image {
    min-height: 650px;
    width: 867px;
    background: url("../images/feynman.png") no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
}


/* FEYNMEN SECTION END*/


/* KAUFMAN SECTION START */

.kaufman {
    overflow: hidden;
    background-color: #000;
    position: relative;
    color: #fff;
    padding-top: 90px;
}

.kaufman__title {
    width: 60%;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    z-index: 333;
}

.kaufman__title_margin {
    margin: 90px auto 0;
}

.kaufman__subtitle {
    width: 60%;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.kaufman__subtitle_margin {
    margin: 20px auto 80px;
}

.kaufman-table_space {
    margin: 0 auto 90px;
    width: 1100px;
}

.kaufman_flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}

.kaufman_flex-column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 200px;
    height: 100%;
    object-fit: cover;
}

.kaufman_flex-column_spacing {
    margin-bottom: 80px;
}

.kaufman_triangle_theme_dark {
    position: absolute;
    top: 0;
    right: -210px;
    z-index: 1;
}

.kaufman_heading_spacing {
    margin-bottom: 20px;
}

.kaufman__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: normal;
}

.kaufman__element {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
}


/* FOOTER SECTION START */

.footer {
    min-height: 350px;
    background-color: #000;
    color: #fff;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.footer__social-icon {
    display: flex;
    justify-content: space-between;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
}

.footer__heading {
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
}

.footer__links {
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: #fff;
}


/* FOOTER SECTION END */
